// Globals
$how-many-variation : 5;
$i: 0.5;

/*****************************************[PAADING]
**Starts at 0.5 rem
*!padding: 1rem   - ClassName: p-1
*!padding: 1.5rem - ClassName: p-1-half
*****************************************/

@while $i <= $how-many-variation {
    $final: $i;

    @if round($i) != $i {
        $final: ($i - 0.5) + '-half';
    }

    .p-#{$final} {
        padding: #{$i}rem;
    }
    .pt-#{$final} {
        padding-top: #{$i}rem;
    }
    .pr-#{$final} {
        padding-right: #{$i}rem;
    }
    .pb-#{$final} {
        padding-bottom: #{$i}rem;
    }
    .pl-#{$final} {
        padding-left: #{$i}rem;
    }
    .px-#{$final} {
        padding: 0 #{$i}rem;
    }
    .py-#{$final} {
        padding: #{$i}rem 0;
    }

    $i: $i + 0.5;
}

/*****************************************[MARGIN]
**Starts at 0.5 rem
*!margin: 1rem   - ClassName: m-1
*!margin: 1.5rem - ClassName: m-1-half
*****************************************/
$how-many-variation : 5;
$i: 0.5;

@while $i <= $how-many-variation {
    $final: $i;

    @if round($i) != $i {
        $final: ($i - 0.5) + '-half';
    }

    .m-#{$final} {
        margin: #{$i}rem;
    }
    .mt-#{$final} {
        margin-top: #{$i}rem;
    }
    .mr-#{$final} {
        margin-right: #{$i}rem;
    }
    .mb-#{$final} {
        margin-bottom: #{$i}rem;
    }
    .ml-#{$final} {
        margin-left: #{$i}rem;
    }
    .mx-#{$final} {
        margin: 0 #{$i}rem;
    }
    .my-#{$final} {
        margin: #{$i}rem 0;
    }

    $i: $i + 0.5;
}